@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700;800;900&display=swap');

/* variables */
:root {
  --pink: #c05cae;
  --white: #ebebeb;
  --brown: #b62626;
  --checkbox-color: rgb(202, 60, 60);
  --checkbox-shadow: rgb(238, 156, 167, 0.2);
  --add-button: rgba(255, 255, 255, 0.7);
  --add-button-shadow: rgba(238, 156, 167, 0.4);
}

/* base styles  */
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  color: var(--brown);
  font-size: 16px;
}

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image:
  linear-gradient(62deg, rgba(7, 86, 160, 0.973) 23%, rgba(255, 122, 151, 0.5) 4%),
  linear-gradient(44deg, rgba(0, 43, 99, 0.079) 13%, rgba(242, 140, 143, 0.5) 18%),
  linear-gradient(118deg, rgba(84, 202, 242, 0.031) 40%, rgba(247, 155, 187, 0.5) 7%),
  linear-gradient(58deg, rgba(7, 86, 160, 0.973) 13%, rgba(255, 122, 151, 0.5) 4%);
  background-blend-mode: normal, lighten, multiply, hard-light;
  font-family: "DM Sans", sans-serif;
  overflow: hidden;
}

input {
  outline: none;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

.btn {
  width: 15vh;
  background: #fff;
  border-radius: 8px;
  border: 1px #fff;
  padding: 8px 12px;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.btn:hover {
  background: var(--pink);
  color: white;
}